body {
    background-color: #eff291;
    font-family: Arial, sans-serif;


}

footer{
    background-color: #055902;
   
}
h1{align-items: center;
    text-align: center;
    color: #055902;
}
